{#
* Plugin Name : WellDirect
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<p id="total_box__next_button" class="col-xs-12 col-sm-4 col-md-4">
    <a href="{{ path('cart_eststep') }}" class="btn btn-success btn-block"><svg class="cb cb-angle-down" style="font-size: 1.5em; margin-top:-4px;"><use xlink:href="#cb-angle-down"></use></svg>カートを保存する</a>
</p>
