@charset "utf-8";

/* --------------------------------
	Theme CSS for EC-CUBE 3
-------------------------------- */


/* --------------------------------
	Common
-------------------------------- */
h1.header_logo a{
	opacity: 0;
    font-size: 24px;
}
h1.header_logo{
	background-image: url(../img/top/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 2em;
	width:8em;
}
.category-nav{
	text-align: left !important;
	border-style: none !important;
	background-image: -webkit-linear-gradient(270deg,rgba(223,6,21,1.00) 0%,rgba(176,31,36,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(223,6,21,1.00) 0%,rgba(176,31,36,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(223,6,21,1.00) 0%,rgba(176,31,36,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(223,6,21,1.00) 0%,rgba(176,31,36,1.00) 100%);
}
.category-nav li a:hover{
	background-color: #FFFFFF;

}
.category-nav li.mainmenu>a{
	color: #FFFFFF;
}
.category-nav li.mainmenu>a:hover{
	color: #B40000;
}
.top-img{
    width: 1120px;
    margin: 0 auto;
}

#calendar{
	float: left;
	width: 100%;
}
#item_list2{
	float: left;
	width: 100%;
}
#item_list2 .pickup_item a{
	padding: 10px !important;
	display: inline-block !important;
	width: 100%;
	border: 1px solid #E3E3E3;
	margin-bottom: 15px;
	float: left;
}
#item_list2 .item_photo{
	float: left;
	padding-right: 15px;
	width: 35%;
}
#item_list2 .item_name{
	float: left;
	font-size: 1.25em;
	font-weight: bold;
	width: 64%;
}
.guide-h2 {
	width: 99%;
	background-color: #EFEFEF;
	border-top: thin solid #B7B7B7;
	padding-left: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2em;
}
.guide-h3 {
	font-size: 1.1em;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: thin solid #585858;
	display: inline-block;
	padding-bottom: 3px;
	padding-top: 15px;
}
.guideinfobox {
	margin-top: 20px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-size: 0.8em;
	background-color: #F8F8F8;
	text-align: left;
	color: #575757;
	line-height: 160%;
}
.image-center {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}
.guide-caption {
	width: 100%;
	line-height: 140%;
	text-align: left;
	padding-top: 15px;
}
.guide-caption b {
	color: #B91114;
}
.guide-caption em {
	color: #ED7D00;
	font-style: normal;
	font-weight: bold;
}
.caption-indent {
	padding-left: 1em;
	text-indent: -1em;
}
.payinfobox {
	border: 1px solid #E4E4E4;
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.payinfobox .payinfobox-h1 {
	text-align: left;
	padding-bottom: 20px;
}
.payinfobox .payinfobox-h2 {
	text-align: left;
	font-weight: bold;
}
.payinfobox .payinfobox-h3 {
	text-align: left;
	padding-bottom: 14px;
}

.payinfobox .payinfobox-p {
	text-align: left;
	font-size: 0.75em;
	color: #707070;
}
.payinfobox strong  {
	font-size: 1.5em;
	color: #B91114;
}
.payinfobox span {
	color: #707070;
	font-size: 0.8em;
}
.horizonline {
	clear: left;
	margin-bottom: 60px;
	border-style: none;

}

.temp-waku {
	border: 5px solid #F0F0E1;
	padding-top: 70px;
	padding-bottom: 10px;
	padding-left: 19%;
	margin-top: 20px;
	float: left;
	width: 99%;
}
.temp-waku .oneside {
	width: 43%;
	text-align: center;
	border: 1px solid #F0F0F0;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
	margin-right: 20px;
}
.temp-waku .oneside b {
	display: block;
	padding-bottom: 5px;
}
.temp-waku .oneside img:hover {
	opacity: 0.7;
}
.temp-waku .size-bar {
	text-align: center;
	background-color: #606060;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	float: left;
	width: 94%;
}
.temp-waku .size-bar-s {
	width: 43%;
	text-align: center;
	background-color: #606060;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	float: left;
	margin-right: 20px;
	padding-left: 11px;
	padding-right: 11px;
}
.temp-waku .size-bar2 {
	width: 90%;
	text-align: center;
	background-color: #606060;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	float: left;
	margin-top: 20px;
}

.temp-waku1 {
	background-image: url(../img/top/temp-waku-back1.png);
	background-repeat: no-repeat;
}
.temp-waku2 {
	background-image: url(../img/top/temp-waku-back2.png);
	background-repeat: no-repeat;
}
.temp-waku3 {
	background-image: url(../img/top/temp-waku-back3.png);
	background-repeat: no-repeat;
}
.temp-waku4 {
	background-image: url(../img/top/temp-waku-back4.png);
	background-repeat: no-repeat;
}
.temp-waku5 {
	background-image: url(../img/top/temp-waku-back5.png);
	background-repeat: no-repeat;
}
.temp-waku6 {
	background-image: url(../img/top/temp-waku-back6.png);
	background-repeat: no-repeat;
}
.temp-caption {
	float: left;
	padding-top: 15px;
	line-height: 140%;
}
.data-h3 {
	font-weight: bold;
	border-bottom: 4px solid #565656;
	padding-bottom: 3px;
	padding-top: 35px;
	padding-left: 10px;
	font-size: 1.25em;
}
.data-caption {
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.data-caption:first-line {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.25em;
}
.data-caption b {
	color: #B70003;
}
.data-img {
	padding-left: 20px;
}

.classcategory_list li{
	padding-bottom: 30px;
}
#classcategory_id2 thead{
	background-color: #EEE;
}
#classcategory_id2 td{
	border-bottom: 1px solid #CCC;
}
.pricelist-caption {
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	font-size: 1.25em;
	line-height: 140%;
}


.pricelist-box {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #F0F0F0;
	margin-bottom: 15px;
}
.pricelist-link-pdf a {
	display: block;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(233,233,233,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(233,233,233,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(233,233,233,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(233,233,233,1.00) 100%);
	border: 1px solid #F3F3F3;
	border-radius: 5px;
}
.pricelist-link-pdf a:hover {
	background-image: -webkit-linear-gradient(270deg,rgba(233,233,233,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(233,233,233,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(233,233,233,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(233,233,233,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.pricelist-link-item a {
	display: block;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-image: -webkit-linear-gradient(270deg,rgba(247,246,242,1.00) 0%,rgba(208,202,176,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(247,246,242,1.00) 0%,rgba(208,202,176,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(247,246,242,1.00) 0%,rgba(208,202,176,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(247,246,242,1.00) 0%,rgba(208,202,176,1.00) 100%);
	border: 1px solid #F3F3F3;
	border-radius: 5px;
}
.pricelist-link-item a:hover {
	background-image: -webkit-linear-gradient(270deg,rgba(208,202,176,1.00) 0%,rgba(247,246,242,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(208,202,176,1.00) 0%,rgba(247,246,242,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(208,202,176,1.00) 0%,rgba(247,246,242,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(208,202,176,1.00) 0%,rgba(247,246,242,1.00) 100%);
}
.faq-box {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E8E8E8;
}
.faq-box .frequently:before{
	content: "Q.";
	font-size: 1.5em;
	padding-right: 5px;
	color: #746EFF;
	font-weight: bold;
}
.faq-box .frequently{
	font-weight: bold;
	color: #575757;
}
.faq-box .questions:before{
	content: "A.";
	font-size: 1.5em;
	padding-right: 5px;
	color: #FF5656;
	font-weight: bold;
}
.sehaba {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: 4px double #C7C7C7;
	border-collapse: collapse;
	margin-left: 5%;
}
.sehaba td {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #BFBFBF;
}





@media only screen and (max-width: 767px) {
.item_gallery li{
    display: none;
}
#main_middle{
	width: 100%;
	height: 100%;
}
#welcome{
    line-height: 1em;
    font-size: 0.8em;
    text-align: right;
    margin-right: 15px;
}
#cart_area p{
    margin: 12px;
}
.nav-trigger{
    height: 70px;
}

}
@media only screen and (max-width: 852px) {
#member{
	display:none !important;
}
/*#welcome{
    display: none;
}*/
.temp-waku {
	background-repeat: no-repeat;
	background-size: 765px auto;
	background-position: -170px 0%;
	padding-left: 3%;
	width: 100%;
}

}

@media only screen and (min-width: 768px) {
.header_logo_area{
	margin-right:0px !important;
}
.news_contents{
	padding: 0px !important;
}
#category{
	float:left;
	padding: 0px !important;
	width: 100% !important;
}
#main_middle{
	width: 100%;
}
.slick-dots{
	position: relative;
	margin-top: -70px;
}
#item_list .pickup_item{
	width: 260px;
}
#category_id{
    display: none;
}
.search_inner{
	float: left;
	width: 100%;
	padding-bottom: 50px;
}
.search_inner .input_search{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
}
@media only screen and (min-width: 852px) {
 #member{
	padding-top: 60px;
}
/*ログイン名表示*/
#welcome{
    line-height: 2em;
    font-size: 0.8em;
    text-align: right;
}
}
@media only screen and (min-width: 1050px) {
#member{
	padding-top: 10px;
	margin-right:300px;
}
#cart_area{
	padding-top: 10px;
}
#main_middle{
	width: 100%;
    padding-bottom: 20px !important;
}
.slick-dots{
	position: relative;
	margin-top: -80px;
}
/*ログイン名表示*/
#welcome{
    line-height: 2em;
    font-size: 0.8em;
    text-align: right;
    margin-right: 5px;
}




}
