@charset "utf-8";

/* --------------------------------
	Theme CSS for EC-CUBE 3
-------------------------------- */


/* --------------------------------
	Common
-------------------------------- */
h1.header_logo a{
	opacity: 0;
}
h1.header_logo{
	background-image: url(../img/top/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 2em;
	width:8em;
}

.category-nav{
	text-align: left !important;
	background-color:crimson;
	border-style: none !important;
}
.category-nav li a:hover{
	background-color: #FFFFFF;
	color: #crimson;
}
.category-nav li.mainmenu>a{
	color: #FFFFFF;
}
.category-nav li.mainmenu>a:hover{
    color: #B90003;
}
.top-img{
    width: 1120px;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
.item_gallery li{
    display: none;
}
#main_middle{
	width: 100%;
	height: 18em;
}
}

@media only screen and (min-width: 768px) {
.header_logo_area{
	margin-right:0px !important;
}
.news_contents{
	padding: 0px !important;
}
#category{
	float:left;
	padding: 0px !important;

	width: 100% !important;
}
#main_middle{
	width: 100%;
	height: 350px;
}
.slick-dots{
	position: relative;
	margin-top: -70px;
}
.pickup_item{
	width: 260px;
}
#category_id{
    display: none;
}
.search_inner{
	float: left;
	width: 100%;
	padding-bottom: 50px;
}
.search_inner .input_search{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
}
@media only screen and (max-width: 852px) {
#member{
	display:none !important;
}
}
@media only screen and (min-width: 852px) {
#member{
	padding-top: 40px;
}
}
@media only screen and (min-width: 1050px) {
#member{
	padding-top: 10px;
	margin-right:300px;
}
#cart_area{
	padding-top: 10px;
}
#main_middle{
	width: 100%;
	height: 390px;
}
.slick-dots{
	position: relative;
	margin-top: -80px;
}
}