@charset "utf-8";

/* --------------------------------
	Theme CSS for EC-CUBE 3
-------------------------------- */


/* --------------------------------
	Common
-------------------------------- */
h1.header_logo a{
	opacity: 0;
}
h1.header_logo{
	background-image: url(../img/top/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 2em;
}
.category-nav{
	text-align: left !important;
	background-color:crimson;
	border-style: none !important;
}
.category-nav li a:hover{
	background-color: #FFFFFF;
	color: #crimson;
}
.category-nav li.mainmenu>a{
	color: #FFFFFF;
}
.category-nav li.mainmenu>a:hover{
    color: #B90003;
}
.top-img{
    width: 960px;
    margin: 0 auto;
}
@media only screen and (max-width: 767px) {
.item_gallery li{
    display: none;
}
}