{#
* Plugin Name : WellDirect
*
* Copyright (C) 2015 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
#}

<p id="total_box__next_button" >
    <a href="{{ path('history_delete')}}/#order_id#" class="btn btn-primary btn-block">見積削除</a>
</p>

