{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="privacy_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">個人情報に関する取扱いについて</h1>
                <div id="privacy_box" class="container-fluid">
                    <div id="privacy_box__body" class="row">
                        <div id="privacy_box__body_inner" class="col-md-10 col-md-offset-1">
                            <!-- <p id="privacy_box__declaration">
                                {% if BaseInfo.company_name is not null %}
                                    {{ BaseInfo.company_name }}は、
                                {% endif %}
                                個人情報保護の重要性に鑑み、「個人情報の保護に関する法律」及び本プライバシーポリシーを遵守し、お客さまのプライバシー保護に努めます。
                            </p> -->

 <h3 id="privacy_box__lead_header">個人情報保護方針について</h3>
 <p id="privacy_box__lead">お客様の個人情報の適正な管理を行い、信頼に応えます。</p>
<br />
<h3 id="privacy_box__lead_header">基本理念</h3>
<p id="privacy_box__lead">情報・印刷事業と環境事業を通じて社会に貢献することを経営理念とし、「100年後にも評価される企業」になることを経営方針とする当社は、お客様を含めた全ての個人情報を適正に保護することは、社会的な責務であると考え、個人情報を適正に管理することにより、お客様に安心していただける企業であるため、個人情報の取扱について、以下の基本方針を定め、適正な取り扱いに努めてまいります。</p>
<br />
<h3 id="privacy_box__lead_header">基本方針</h3>
<p id="privacy_box__lead">1.当社は、個人情報の適切な保護体制を維持するため、個人情報に関する法令、国が定める指針、その他の規範を遵守し、「JISQ15001」の要求事項に準拠した個人情報保護マネジメントシステムを定め、これを全ての役員および従業員に徹底します。また、これを定期的に見直し、改善に努めます。
<br />
2.当社は、お客様から個人情報をご提供いただく場合には、取扱責任者を定めて利用目的を明らかにし、お客様とのご契約上の責任を果たすため、正当な目的のためのみに使用し、利用目的の達成に必要な範囲を超えたお客様の個人情報の取扱いがなされないよう措置を講じます。
<br />
3.当社は、お客様からご提供いただいた個人情報を、正当な理由のあるときを除き、当社の子会社、業務委託先および提携先、ならびに当社または子会社の業務継承先以外の第三者に提供しません。また、個人情報を第三者に提供する場合には、お客様の同意を得た範囲に限定し、契約による義務付けの方法により、その第三者からの漏洩・再提供の防止などを図ります。
<br />
4.当社は、個人情報の取扱いおよび個人情報保護マネジメントシステムに関して、苦情・相談を受け付け、適切、かつ迅速に対応するための手順および体制を確立し、その維持に努めます。
<br />
5.当社は、個人情報の漏洩、滅失、または毀損等を予防するため合理的な安全対策を講じるとともに、必要な是正措置を講じます。<br />
制定日：2012年5月1日<br />
<br />
株式会社ウイル・コーポレーション<br />
代表取締役社長　若林 裕紀子<br />
</p>
<br />
<br />
<h3 id="privacy_box__lead_header">個人情報のお取扱いについて</h3>
<p id="privacy_box__lead">株式会社ウイル・コーポレーション（以下、当社）は、お客様を含めた全ての個人情報を適正に保護することは、社会的な責務であると考え、「個人情報保護方針」に基づき、お客様より取得した個人情報を適正に管理いたします。
<br />
<br />
1.事業の名称<br />
<br />
株式会社ウイル・コーポレーション<br />
<br />
2.管理者（若しくはその代理人）の氏名又は職名、所属及び連絡先<br />
<br />
当社は「JISQ15001個人情報保護マネジメントシステムの要求事項」に則り、代表取締役専務を個人情報統括管理者(個人情報保護管理者）として任命いたします。<br />
連絡先：076－277－9811<br />
<br />
3.個人情報の利用目的<br />
<br />
当社は、お客さまのお名前・ご住所・電話番号・生年月日・メールアドレスなどの個人情報の利用にあたっては、以下のとおり、利用目的を定め、限られた範囲で利用させていただいております。<br />
(1)通信販売ならびに、販売する製品の情報や、関連するアフターサービス、アンケート調査、モニター募集に関する情報等をダイレクトメール、電子メール、お電話等でお知らせするため<br />
(2)ご注文いただいた製品やサンプル、また当社で実施するキャンペーンなどの景品等をお届けするため<br />
(3)お客さまからのお問い合わせに対する回答等の対応のため <br />
(4)当社とお取り引きに関する与信管理や代金回収管理、債権管理のため<br />
<br />
4.個人情報の第三者への提供、開示について<br />
<br />
当社は、お客様から受託する個人情報及び、当社自ら取得した個人情報について下記のいずれかに該当する場合を除き、いかなる第三者に提供または開示をいたしません。<br />
<br />
(1) ご本人の同意ある、若しくは同意を頂いた場合。<br />
(2) 人の生命、身体及び財産の保護の為に必要な場合であってご本人の同意を得ることが困難な場合。<br />
(3) その他法令にもとづき 提供、開示を求められた時。<br />
(4) 利用目的の範囲内で業務の一部、又は全部を委託する場合。<br />
<br />
5.個人情報取扱の委託<br />
<br />
当社は、当社が提供するサービスを円滑に進めるため、業務委託先に対して個人情報の一部又は全部を委託する事があります。この場合、個人情報を適切に取り扱っていると認められる委託先を選定し、個人情報の適正管理・機密保持契約書などによりお客様の個人情報の漏洩防止に必要な事項を取決め、適切な管理をいたします。<br />
<br />
6.個人情報を提供される事の任意性について<br />
<br />
当社に個人情報を提供されるかどうかは、本人様の任意によるものです。 ただし、必要な項目をご提供いただけない場合、各種サービス等が適切な状態でご提供できない場合があります。<br />
<br />
7.個人情報の開示等<br />
<br />
お客様がご提供くださった個人情報の利用目的の通知、開示・訂正・追加・削除・利用停止・消去依頼・提供の停止のご依頼については、以下に記載の「個人情報に関するお問い合わせ先」までご連絡いただくか、「個人情報の開示等の手続きについて」をご覧いただき、内容をご確認のうえ、必要書類のご提出をお願い致します。ご依頼がご本人様のご希望であることが確認できた場合はご要望に応じた手続をさせていただきます。お客様のID・パスワードの開示等に関しては登録いただいたメールアドレスへ返信させていただきます。<br />
なお、書類提出の際の手数料についてはご返金致しかねますので悪しからずご了承下さい。<br />
<br />
個人情報の開示等の手続きについて<br />
 ※ 「開示等」とは、個人情報の保護に関する法律に規定される個人情報の開示、利用目的の通知、個人情報の訂正・追加・削除、個人情報の利用停止・消去・第三者提供の停止をいいます。 <br />
 ※ 開示等のお求めの対象となる個人情報は、当社が開示などの権限を有する個人情報（個人情報保護法に規程される「保有個人データ」に該当します。）に限ります。 <br />
 （1） 個人情報の開示等のお求めについて <br />
  ① お申し込み手続き <br />
   当社が保有する個人情報の開示等のお求めに際しては、ご本人またはその代理の方であることを確認した上で実施しています。 <br />
  ② 「開示等の求め」の手数料及びその徴収方法 <br />
   1件につき500円の株式会社ゆうちょ銀行発行「定額小為替証書」が必要となります。<a href="http://www.well-corp.jp/kojinjyouhou.pdf" target="_blank">所定の申請書</a>と同封のうえ、お申し出ください。 <br />
  ③ ご本人様、代理人様の確認のための書類 <br />
   開示などのご請求の際に、ご請求された方が、ご本人様、または代理人様であることを確認するための書類を提出いただきます。<br />
 【開示などをご請求される方がご本人様の場合】<br />
〔1〕 (A）のいずれか１点（氏名、住所、生年月日が確認できること）<br />
    <br />
（A） 1.運転免許証の写し <br />
2.旅券（パスポート）の写し <br />
3.各種健康保険証の写し <br />
4.各種年金手帳の写し <br />
5.写真付住民基本台帳カードの写し <br />
6.外国人登録証明書の写し <br />
7.身体障害者手帳の写し <br />
8.印鑑登録証明書（作成日より３ヶ月以内のもの。余白に当該印鑑により捺印）<br /> 
 <br /> 
   〔2〕開示などをご請求される方が代理人様の場合<br />
 次の（ア）から（ウ）のすべて<br />
（ア） ご本人様に関する〔1〕の（A）の書類<br />
 （イ） 代理人様に関する〔1〕の（A）の書類<br />
 （ウ） ご本人様による委任状<br />
 （ご本人様による捺印と当該印鑑の印鑑登録証明書をご提出ください。代理人様が親権者などの法定代理人の場合は、ご本人様との関係がわかる戸籍謄本または抄本をご提出ください。）<br />
 <br />
  ④ 開示等の求めに関して取得した個人情報の「利用目的」 <br />
   開示等の求めに伴い取得した個人情報は、開示等の求めに必要な範囲内のみで取り扱うものとします。 提出いただいた書類は、開示等の求めに対する回答が終了した後、1年間保存し、その後、安全に破棄させていただきます。 <br />
  ⑤ 非開示について <br />
   開示等ができない場合は、その旨・理由を通知申し上げます。<br />
<br />
8.ご本人が容易に認識できない方法により取得する場合について<br />
当社のウェブサイトでは、Cookie（クッキー）を使用する場合があります。Cookieは、お客さまが当社のウェブサイトに再度訪問された際、より便利に当サイトを利用していただくためのものであり、お客さまのプライバシーを侵害するものではなく、またお客さまのコンピューターに悪影響を及ぼすことはありません。<br />
※「Cookie（クッキー）」とは、情報をブラウザ側に保存し必要な時にこのデータを取り出して、適切な処理を行えるようにする仕組みです。ご利用されているブラウザのセキュリティの設定により、利用設定を解除することができます。<br />
<br />
9.その他の注意事項<br />
<br />
当社運営ウェブサイト上にお客様ご自身が自発的に個人情報を公開された場合、他のユーザーよりお客様の個人情報が取得されてしまう場合がありますので、充分に注意をしていただきますようお願いいたします。当社ではセキュリティ安全対策を行っておりますが、インターネット通信の性格上、セキュリティを完全に保証するものではありません。あらかじめご了承ください。<br />
<br />
10. 個人情報に関するお問い合わせ先<br />
<br />
社名 ： 株式会社ウイル・コーポレーション<br />
住所 ： 〒924-0051 石川県白山市福留町370番地<br />
個人情報お問い合わせ窓口責任者　松田勇一<br />
TEL  ： 076-277-9811、FAX ： 076-277-9822<br />
</p>
<br />



                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}