{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">よくあるご質問</h1>
                <div id="privacy_box" class="container-fluid">
                    <div id="privacy_box__body" class="row">
                        <div id="privacy_box__body_inner" class="col-md-10 col-md-offset-1">
                        
                          <div class="faq-box">
                            <p class="frequently">個人情報保護方針について</p>
                            <p class="questions">お客様の個人情報の適正な管理を行い、信頼に応えます。</p>
                          </div>

                            
                            
                            
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}