{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">冊子の背幅について</h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item" class="col-md-10 col-md-offset-1">
                        
                       <div class="guide-h2">ページ別　冊子背幅一覧</div>
                        <div class="guide-caption">
                        各ページ数の時に、冊子の背幅がどれだけになるかの一覧です。<br>
                        データ作成の際には、注文されるページ数に合わせて、冊子の表紙データ内の背幅を調整し、正しいサイズで制作したデータを入稿してください。</div>

<div class="guide-caption">
 <table class="sehaba col-md-5 col-xs-11">
  <col span="2">
  <tr bgcolor="#FFFAB6">
    <td>ページ数</td>
    <td>背幅</td>
  </tr>
  <tr>
    <td align="right">32P</td>
    <td align="right">1.94mm</td>
  </tr>
  <tr>
    <td align="right">48P</td>
    <td align="right">2.26mm</td>
  </tr>
  <tr>
    <td align="right">64P</td>
    <td align="right">3.00mm</td>
  </tr>
  <tr>
    <td align="right">80P</td>
    <td align="right">3.67mm</td>
  </tr>
  <tr>
    <td align="right">96P</td>
    <td align="right">4.34mm</td>
  </tr>
  <tr>
    <td align="right">112P</td>
    <td align="right">4.84mm</td>
  </tr>
  <tr>
    <td align="right">128P</td>
    <td align="right">5.49mm</td>
  </tr>
  <tr>
    <td align="right">144P</td>
    <td align="right">6.13mm</td>
  </tr>
  <tr>
    <td align="right">160P</td>
    <td align="right">6.78mm</td>
  </tr>
  <tr>
    <td align="right">176P</td>
    <td align="right">7.43mm</td>
  </tr>
  <tr>
    <td align="right">192P</td>
    <td align="right">8.07mm</td>
  </tr>
  <tr>
    <td align="right">208P</td>
    <td align="right">8.72mm</td>
  </tr>
  <tr>
    <td align="right">224P</td>
    <td align="right">9.36mm</td>
  </tr>
  <tr>
    <td align="right">232P</td>
    <td align="right">9.69mm</td>
  </tr>
  <tr>
    <td align="right">240P</td>
    <td align="right">10.01mm</td>
  </tr>
  <tr>
    <td align="right">256P</td>
    <td align="right">10.66mm</td>
  </tr>
  <tr>
    <td align="right">280P</td>
    <td align="right">11.63mm</td>
  </tr>
  <tr>
    <td align="right">304P</td>
    <td align="right">12.59mm</td>
  </tr>
  <tr>
    <td align="right">328P</td>
    <td align="right">13.56mm</td>
  </tr>
  <tr>
    <td align="right">352P</td>
    <td align="right">14.53mm</td>
  </tr>
</table>
<table class="sehaba col-md-5 col-xs-11">
  <col span="2">
  <tr bgcolor="#FFFAB6">
    <td>ページ数P</td>
    <td>背幅</td>
  </tr>
  <tr>
    <td align="right">376P</td>
    <td align="right">15.50mm</td>
  </tr>
  <tr>
    <td align="right">400P</td>
    <td align="right">16.47mm</td>
  </tr>
  <tr>
    <td align="right">432P</td>
    <td align="right">17.76mm</td>
  </tr>
  <tr>
    <td align="right">464P</td>
    <td align="right">19.05mm</td>
  </tr>
  <tr>
    <td align="right">496P</td>
    <td align="right">20.35mm</td>
  </tr>
  <tr>
    <td align="right">528P</td>
    <td align="right">21.64mm</td>
  </tr>
  <tr>
    <td align="right">560P</td>
    <td align="right">22.93mm</td>
  </tr>
  <tr>
    <td align="right">592P</td>
    <td align="right">24.22mm</td>
  </tr>
  <tr>
    <td align="right">624P</td>
    <td align="right">25.51mm</td>
  </tr>
  <tr>
    <td align="right">656P</td>
    <td align="right">26.81mm</td>
  </tr>
  <tr>
    <td align="right">688P</td>
    <td align="right">28.10mm</td>
  </tr>
  <tr>
    <td align="right">720P</td>
    <td align="right">29.39mm</td>
  </tr>
  <tr>
    <td align="right">760P</td>
    <td align="right">31.01mm</td>
  </tr>
  <tr>
    <td align="right">800P</td>
    <td align="right">32.62mm</td>
  </tr>
  <tr>
    <td align="right">840P</td>
    <td align="right">34.24mm</td>
  </tr>
  <tr>
    <td align="right">880P</td>
    <td align="right">35.85mm</td>
  </tr>
  <tr>
    <td align="right">920P</td>
    <td align="right">37.47mm</td>
  </tr>
  <tr>
    <td align="right">960P</td>
    <td align="right">39.08mm</td>
  </tr>
  <tr>
    <td align="right">1000P</td>
    <td align="right">40.70mm</td>
  </tr>
</table>
</div>
<br clear=both>
<br>
<br>
                   <div class="guide-h2">冊子の入稿データ作成時の注意点</div>
                <div class="guide-caption">
■表紙は、<b>指定のテンプレートを使用(背幅部分は編集が必要)</b>してください。<br>
　本文は、<b>ページ数分だけテンプレートを複製して</b>ご使用ください。<br>
<br>
■本文データのファイル名には、必ず<b>ページ番号を記載</b>してください。　<br>
<br>
■ページ番号は、<b>本文1ページ目をp1として、表紙ページ（4ページ分）を含めない数</b>になります。<br>
　<b>以下の条件</b>に気をつけてデータ作成・入稿をおこなってください。<br>
<br>
　テンプレート名は以下のようになっております。<br>
　　・表紙オモテ:「h■-h■_A4_hyousi_○○○.ai」　※■には表1〜4に合わせて表紙番号を入れてください。<br>
　　・本文　「p●●●_A4（サイズ名）_honbun_○○○.ai」<br>
　　※●には、本文1ページ目＝p001・・・として数えた「ページ番号」をページファイルごとにつけてください。<br>
　　※○には、「半角英数」で共通の名前をつけてください。　<br><br>
<img src="{{ app.config.front_urlpath }}/img/top/sassi-guide1.png">
</div>
<div class="guide-caption">
■入稿は、<b>指定形式のPDFデータで</b>お願いします。<br>
　入稿形式は「PDF/X-4もしくはPDF/X-1a形式のPDFデータのみ」となります。<br>
　IllustratorやIndesign、Officeなどアプリケーションデータでの入稿は受付けておりません。<br><br>
<img src="{{ app.config.front_urlpath }}/img/top/sassi-guide2.png"><br>
　【Illustraotorでデータ作成される場合】<br>
　　テンプレートにデザインを配置した状態でPDFを書き出してください。<br>
<br>
　【Indesign／Photoshopでデータ作成される場合】<br>
　　仕上りサイズで作成した各ページに、トンボを付けた状態でPDFを書き出してください。
</div>
<div class="guide-caption">
■書き出した<b>PDFは、zipファイルにまとめて</b>入稿ください。<br>
書き出したPDFデータはひとつのフォルダにまとめてzip圧縮し、ご入稿ください。<br><br>
アップロードできる<b>ファイルサイズの上限は、300MB</b>となっております。<br>
データサイズが300MBを超えている場合は、<b>サイト上で受注することができません</b>ので、<br>
<a href="{{ url('contact') }}">お問い合わせフォーム</a>より別途、ご相談下さい。<br><br>
<img src="{{ app.config.front_urlpath }}/img/top/sassi-guide3.png">


</div>
         
                      </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}