{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">冊子データ作成時の注意点</h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item" class="col-md-10 col-md-offset-1">
                        
                       <div class="guide-h2">冊子データ作成時の注意点</div>
                        <div class="guide-caption">
                        印刷データ作成用のテンプレート一覧です。<br>
                        必ずご注文される商品に応じたテンプレートをご利用ください。</div>
                        
        

                      </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}