{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading"><img src="{{ app.config.front_urlpath }}/img/top/pricelist-title.jpg" width="100%"/></h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item"> 
                            <div class="pricelist-caption">
                            当サイトにて購入可能なページ数、部数のもの以外の規格の製品についても承ることが可能です。また、高額の決済・大口の取引・継続取引など、オンラインで対応できない案件も、<a href="{{ url('contact') }}">お問い合わせフォーム</a>より、お気軽にお問い合わせください。専任の担当営業がご対応いたします。<br>
                            </div>
                        </div>
                    </div>
		</div>
            </div>
        </div>
    </div>
{% endblock %}
